{% extends "base_generic.html" %}
{% block content %}
    {% if object_list %}
    <h3>Reviews for {{ object_list.0.movie.title }}</h3>
    <ul>
        {% for review in object_list %}

        <li>
            <strong>User:</strong> {{ review.user.username }} <br>
            <strong>Rating:</strong> {{ review.rating }}/5 <br>
            <strong>Comment:</strong> {{ review.comment }} <br>
            <small>Created at: {{ review.created_at }}</small>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No reviews yet for this movie.</p>
    {% endif %}
{% endblock %}