{% extends "base_generic.html" %}
{% block content %}
    {% if object_list %}
    <h3>Reviews for {{ object_list.0.movie.title }}</h3>
    <ul>
        {% for review in object_list %}

        <li>
            <strong>User:</strong> {{ review.user.username }} <br>
            <strong>Rating:</strong> {{ review.rating }}/5 <br>
            <strong>Comment:</strong> {{ review.comment }} <br>
            <small>Created at: {{ review.created_at }}</small>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No reviews yet for this movie.</p>
    {% endif %}

    <hr>

    {% if user.is_authenticated %}
     <a href="{% url 'main:add_review_for_movie' movie.title %}">
       <button>Add review</button>
     </a>
    {% else %}
       <p><a href="{% url 'login' %}">Login</a> to add a review.</p>
    {% endif %}

    {% endblock %}