<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}<!-- koristenje statickog css filea -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  
<header>
    <h1>CineOro</h1>
</header>

<div class="container">
    <div id="sidebar">
        {% block sidebar %} 
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies/">All Movies</a></li>

            {% if user.is_authenticated %}<!-- ovo se prikazuje ako je korisnik ulogiran -->
                <li><a href="{% url 'main:my_reviews' %}">My reviews</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        <!-- jedinstveni sigurnosni kod koji django dodaje u post forme kako bi
                        sprijecio zlonamjerne zahtjeve s drugih stranica-->
                        {% csrf_token %} 
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>